<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="NavbarController as vm">
    <a class="navbar-brand" href="#">CDS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/cars">Cars</a>
            </li>
            <li class="nav-item new">
                    <a class="nav-link" href="#!/cars/new">Add new</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <label for="name_filter" class="form-control mr-sm-2">Search by name:</label>
            <input id="name_filter" class="form-control mr-sm-2" type="search" aria-label="Search" ng-model="vm.data.search">
        </form>
    </div>
</nav>