<div class="card">
    <a class="btn btn-danger delete" ng-click="vm.deleteCar(car)">X</a>
    <a class="btn btn-secondary toggle" ng-click="vm.hide(car)">
        <i class="fas fa-eye-slash" ng-show="!car.hidden"></i>
        <i class="fas fa-eye" ng-show="car.hidden"></i>
    </a>
    <img ng-src="{{car.image}}" class="card-img-top" alt="{{car.name}}">
    <div class="card-body">
        <h5 class="card-title">{{car.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" country-flag="{{car.country}}">{{car.country}}</li>
    </ul>
    <div class="card-body">
        <a href="#!car/{{car.id}}" class="btn btn-secondary">Car details</a>
        <a href="#!cars/edit/{{car.id}}" class="btn btn-primary">Edit</a>
    </div>
</div>
