<div ng-controller="addForm as vm" class="addform">
    <h5>Add new car</h5>
        <form ng-submit="vm.save(vm.car)">
            <div class="form-group">
                <label for="name">Car Name</label>
                <input type="text" class="form-control" id="name" placeholder="Car title" required ng-model="vm.car.name">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" placeholder="Country" required ng-model="vm.car.country">
            </div>
            <div class="form-group">
                <label for="horsepower">Horsepower</label>
                <input type="text" class="form-control" id="horsepower" placeholder="horsepower" required ng-model="vm.car.power">
            </div>
            <div class="form-group">
                <label for="image">Car image</label>
                <input type="file" class="form-control-file" id="image" ng-model="vm.car.image" disabled>
            </div>
            <button type="button" class="btn btn-secondary">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Add car">
        </form>
</div>


