<div ng-controller="CarsController as vm">
<div class="row filter">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Show cars:</span>
        </div>
        <button class="btn btn-outline-secondary" type="button" ng-click="vm.setState('all')">
            View all
        </button>
        <button class="btn btn-outline-secondary" type="button" ng-click="vm.setState(false)">
            <i class="fas fa-eye"></i> View visible
        </button>
        <button class="btn btn-outline-secondary" type="button" ng-click="vm.setState(true)">
            <i class="fas fa-eye-slash"></i>View hidden
        </button>
    </div>
</div>
<div class="row">
<car-card ng-repeat="car in vm.cars | filter: {name : vm.data.search } | hiddenFilter: 'hidden': vm.state" 
            car="car"
            class="col-md-2 shadow-sm">
</car-card>
</div>
</div>