/* app css stylesheet */
* {
  font-family: 'Play', sans-serif;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.car {
  width: 250px;
  float: left;
  margin: 20px;
  box-sizing: border-box;
  text-align: center;
}

.car img {
  margin: auto;
  width: 70%;
  clear: both;
  float: none;
  display: block;

}

/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
  position: relative;
}

.shuffle-animation.ng-enter {
  -moz-transition: ease-out all 0.3s 0.4s;
  -o-transition: ease-out all 0.3s 0.4s;
  -webkit-transition: ease-out all 0.3s 0.4s;
  transition: ease-out all 0.3s 0.4s;
  left: 2em;
  opacity: 0;
}

.shuffle-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}

.shuffle-animation.ng-leave {
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  left: 0;
  opacity: 1;
}

.shuffle-animation.ng-leave.ng-leave-active {
  left: 2em;
  opacity: 0;
}
/*#endregion*/

.card {
  margin: 10px;
}

.list-group-item > img {
  width: 30px;
  margin-right: 5px;
}

.btn.delete {
  position: absolute;
  right: 0;
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.btn.toggle {
  position: absolute;
  right: 40px;
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.btn.delete:hover, .btn.toggle:hover  {
  opacity: 1;
}

.card-img-top {
  max-height: 163px;
}

.input-group>.input-group-prepend>.input-group-text {
  width: 150px;
}

.row.filter {
  padding: 24px 24px 10px 24px;
}
